<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hj.mapper.sub.ProductReSub_Mapper">
	<!-- 상품 번호 가져오기 -->
	<select id="addPno"
		parameterType="org.hj.model.Product_manufacturingDto" resultType="int">
		select p_no from Supplier.productCode
		where p_name = #{p_name};
	</select>
	
	<!-- 등록된 재고 정보 들고오는 sql -->
	<select id="productsInfo"
		resultType="org.hj.model.Product_manufacturingDto">
		select * from Supplier.productCode;
	</select>
	
	<!-- 물류창고 온도 가져오는 sql -->
	<select id="selectFactoryTemp"
		resultType="org.hj.model.FactoryTempDto">
		select * from Supplier.Factory_temp
		ORDER BY time DESC;
	</select>
	
	<!-- 신제품 등록하는 sql -->
	<insert id="uploadProductInfo" parameterType="org.hj.model.Product_manufacturingDto">
	insert into Supplier.productCode (p_name,p_price)
	values(#{p_name},#{p_price});
	</insert>
	
	<!-- 등록된 상품 정보 들고오는 sql -->
	<select id="selectProductInfo"
	resultType="org.hj.model.Product_manufacturingDto">
	select * from Supplier.productCode;
	</select>
</mapper>