<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hj.mapper.pub.ProductRePub_Mapper">
	<!-- 상품등록 SQL -->
	<insert id="uploadP"
		parameterType="org.hj.model.Product_manufacturingDto">
		insert into public_schema.Product_manufacturing
		(m_date, p_no, p_name, p_price, m_num, p_limitD)
		values(#{m_date}, #{p_no}, #{p_name}, #{p_price}, #{m_num}, #{p_limitD})
	</insert>


	<!-- 등록된 상품 들고오는 sql -->
	<select id="productList"
		resultType="org.hj.model.Product_manufacturingDto">
		select * from public_schema.productNum;
	</select>

	<!-- 선택한 상품의 코드로 유통기한별 재고 수 들고오는 sql -->
	<select id="groupByDate"
		resultType="org.hj.model.Product_manufacturingDto"
		parameterType="org.hj.model.Product_manufacturingDto">
		select * from public_schema.Product_manufacturing
		where p_no = #{p_no};
	</select>

	<!-- 재고 수정하는 sql -->
	<update id="updateStock"
		parameterType="org.hj.model.Product_manufacturingDto">
		UPDATE public_schema.Product_manufacturing
		SET m_num = #{m_num}
		WHERE p_no = #{p_no} AND m_date = #{m_date} AND p_limitD = #{p_limitD}
	</update>
	
	<!-- 재고 폐기하는 sql -->
	<delete id="disposeStock"
		parameterType="org.hj.model.Product_manufacturingDto">
		delete from public_schema.Product_manufacturing
		WHERE p_no = #{p_no} AND m_date = #{m_date} AND p_limitD = #{p_limitD}
	</delete>
	
	<!-- 제품 등록 페이지에서 검색 할 때  sql-->
	<select id="searchProduct"
		resultType="org.hj.model.Product_manufacturingDto"
		parameterType="org.hj.model.Product_manufacturingDto">
		select * from public_schema.productNum
		WHERE p_no = #{p_no} OR p_name = #{p_name};
	</select>

</mapper>
  